body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

.container {
  min-height: 100vh;
  background: linear-gradient(to right, #ff01ea, #f80576, #ff0077);
  padding: 20px 0;
}

.contenido {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}